<html>
<head>

    <link href="/static/brocas.css" rel="stylesheet">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/robertmarvin.js"></script>


    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="about-page about-page-mini">

    {% include "leftSide.html" %}

    <div class="about-container">



        <div class="about-text-wrapper">
            <p class="about-header">
                A pseudo anonymous collaboration between <a href="http://www.linkedin.com/pub/max-fowler/43/656/199/">Jurns</a> and <a href="https://www.linkedin.com/profile/view?id=220549218&authType=NAME_SEARCH&authToken=UjQR&locale=en_US&trk=tyah2&trkInfo=tarId%3A1418759586120%2Ctas%3Aevan%20%2Cidx%3A1-2-2">Xavior</a> which is both of us or neither of us
                if the content is illegal.
            </p>
            <p>
                We host writing, net-art and projects here, and present a billboard for our mailing list, where we share
                our interests and the projects of our friends.
            </p>
            <p>
                Process > purpose. A safe harbor for dark magic.
            </p>
        </div>

        <div class="left-side-wrapper">
            <img class="evan-pic" src="http://i.imgur.com/0Xb63xW.jpg/">
        </div>

        <div class="right-side-wrapper">
            <img class="max-pic" src="http://i.imgur.com/g4eiRnj.jpg"/>
        </div>

    </div>

</div>

</body>

</html>