<html>
<head>

    <link href="/static/brocas.css" rel="stylesheet">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/robertmarvin.js"></script>


    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="submit-email-page">

    {% include "leftSide.html" %}

    <div class="about-container">

        <div class="left-side-wrapper">
            <img src="/static/img/evan_red.JPG"/>
        </div>

        <div class="right-side-wrapper">
            <img src="/static/img/max_thumb.JPG"/>
        </div>

    </div>

</div>

</body>

</html>