<style>
    body {
    }

    .mainlink {
        margin-left:30px;
        margin-right:30px;
        margin-top:50px;
        background-color:#b3c7e1;
        color:gray;
        padding:3px;
    }

    .mainimg {
        width:1000px;
        float:left;
    }

    body {
        margin:0px;
    }

    .num-visitors {
        color: rgb(215, 196, 255);
        position: absolute;
        top: 20px;
        left: 915px;
    }

    .huge-text {
        float:left;
        font-size:600px;
        margin-top:0px;
        margin-left:90px;
        padding-right:90px;
{#        color:black;#}
        color:white;
        text-decoration:none;
    }

    body {
        background-image:url("http://blog.napc.com/Portals/10319/images/clouds.jpg");
        background-size:1000px;
    }

</style>

{#<img class="mainimg" src="/static/img/moon.jpg"/>#}

<a href="/LOADING/______/" class="huge-text">
    BrocasCoconut.Com
</a>

{#<a href="/blog/" class="mainlink">robertmarvin.com</a>#}
{#<p class="num-visitors"> + {{ stat.number }} </p>#}
