<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/img/triangle.ico" rel="shortcut icon" type="image/x-icon">

    <title>The Capitalist T-Shirt</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../static/startbootstrap-freelancer-1.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/startbootstrap-freelancer-1.0.0/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/startbootstrap-freelancer-1.0.0/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57781529-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script src="/static/js/jquery.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/static/js/capitalist_tees.js"></script>

    <link href="/static/capitalistPrints.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

<!-- test key -->
{#<div class="stripeKey" data-stripe="pk_test_czVrLovHjcVbOwHjYaidzaQL"></div>#}
<!-- live key -->
<div class="stripeKey" data-stripe="pk_live_fZi5B0AsBtEdAANA0IeYp4su"></div>
<div class="shirtCost" data-cost="1.10"></div>

<!-- Header -->
<header>
    <div class="container header-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="central-pane pane featured-pane">
                    <h1 class="capitalist-tee shirt-contingent"> The Capitalist T-Shirt </h1>
                    <h1 class="capitalist-tee print-contingent"> The Capitalist Print </h1>
                    <h1 class="capitalist-tee booty-contingent"> Capitalist Booty Shorts </h1>

                    <div class="main-div purchase-div">

                        <p class="description shirt-contingent">
                            Enter the number 'X' that you want printed on your t-shirt<br>
                            and we will send you the t-shirt for 15 + 'X' dollars.<br>
                        </p>
                        <p class="description print-contingent">
                            Enter the number 'X' that you want on your print<br>
                            and we will frame it and send it to you for 15 + 'X' dollars.<br>
                        </p>
                        <p class="description booty-contingent">
                            Enter the number 'X' that you want on your booty shorts<br>
                            and we will send you the shorts for 5 + 'X' dollars.<br>
                        </p>


                        <div class="select-number">
                            <img src="/static/img/black_triangle.png" class="black-triangle-img"/>
                            <input type="text" class="number-input"/>
                        </div>

                        <div class="buttons-wrapper">

                            <div class="printsize-buttons row-buttons print-contingent">
                                <a href="" class="style-button small-print-button printsize-button selected-printsize selected">7x5</a>
                                <a href="" class="style-button medium-print-button printsize-button">20x16</a>
                                <a href="" class="style-button large-print-button printsize-button">54x36</a>
                            </div>

                            <div class="color-buttons row-buttons shirt-contingent">
                                <a href="" class="style-button black-button color-button selected-color selected">Black</a>
                                <a href="" class="style-button white-button color-button">White</a>
                                <div style="clear:both;"></div>
                            </div>

                            <div class="size-buttons row-buttons shirt-contingent">
                                <a href="" class="style-button size-button selected-size selected">S</a>
                                <a href="" class="style-button size-button">M</a>
                                <a href="" class="style-button size-button">L</a>
                            </div>

                            <div class="bootysize-buttons row-buttons booty-contingent">
                                <a href="" class="style-button bootysize-button selected-bootysize selected">S</a>
                                <a href="" class="style-button bootysize-button">M</a>
                                <a href="" class="style-button bootysize-button">L</a>
                            </div>

                            <div class="ship-to">SHIP TO</div>
                            <input type="text" class="shipping-input" placeholder="Enter your shipping address"/>

                            <div class="display-price row-buttons">
                                <span class="base-price">$<span class="base-price-num">5</span></span>
                                <span class="plus">+</span>
                                <span class="bonus-price">?</span>
                                <span class="plus">=</span>
                                <span class="total-price">What You Pay</span>
                            </div>

                            <a href="" class="purchaseButton row-buttons">Purchase With Credit Card</a>


                        </div>

                        <div class="booty-coming-soon">
                            <h2> Coming Soon </h2>
                            <p>
                                email <a href="mailto:booty@brocascoconut.com">booty@brocascoconut.com</a>
                                for inquiries
                            </p>
                        </div>

                        <!-- product images -->

                        <div class="image-section">

                            <div class="print-wrapper print-contingent">
                                <img class="frame-img" src="/static/img/black_frame_triangle.png"/>
                                <div class="print-img-number img-number questionMark">?</div>
                            </div>

                            <div class="shirt-img-wrapper shirt-contingent">
                                <div class="shirt-front-wrapper">
                                    <img class="black-male-shirt-img shirtimg shirtfront selected" src="/static/img/blacktriangle.jpg"/>
                                    <img class="white-male-shirt-img shirtimg shirtfront" src="/static/img/whitetriangle.jpg"/>
                                    <div class="shirt-img-number img-number">?</div>
                                    <a class="see-the-back">see the back</a>
                                </div>
                                <div class="shirt-back-wrapper">
                                    <img class="product-img black-shirt-back shirtimg shirtback selected" src="/static/img/blackshirtback.png"/>
                                    <img class="white-shirt-back shirtimg shirtback" src="/static/img/whiteshirtback.png"/>
                                    <a class="see-the-front">see the front</a>
                                </div>
                            </div>

                            <div class="booty-img-wrapper booty-contingent">
                                <img class="booty-img " src="/static/img/purple_shorts_triangle.png"/>
                                <div class="booty-img-number img-number">?</div>
                            </div>

                        </div>


                    </div>


                    <div class="main-div loading-div">
                        <p class="loading-text">
                            processing your order
                        </p>
                        <img class="loading-gif" src="/static/img/loading_machine.gif"/>
                    </div>

                    <div class="main-div thankyou-div">
                        <p class="thankyou-text">Thank you for your order!
                            <br><br>You'll get an email receipt in a few minutes, and we'll put your
                            <span class="shirt-contingent"> shirt </span>
                            <span class="print-contingent"> print </span>
                            <span class="booty-contingent"> shorts </span>
                            in the mail in less than a month.
                            <br><br>$$$$
                        </p>
                        <a href="" class="new-order">click here to start a new order</a>
                    </div>

                </div>




            </div>
        </div>
    </div>
</header>

<section class="text-center related-section">
    <div class="container related-products-container">
        <div class="row">

            <!-- related products -->

            <div class="related-products-wrapper central-pane">

                <h2 class="related-title">Related Products</h2>

                <div class="which-buttons row-buttons">
                    <a href="" class="style-button  which-button tshirt-button">
                        <span class="which-title">T-Shirts</span>
                        <img class="which-img" src="/static/img/black_1000.png" />
                        <div style="clear:both;"></div>
                    </a>
                    <a href="" class="style-button  which-button print-button">
                        <span class="which-title">Framed Prints</span>
                        <img class="which-img" src="/static/img/1000_print.png" />
                        <div style="clear:both;"></div>
                    </a>
                    <a href="" class="style-button  which-button booty-button">
                        <span class="which-title">Booty Shorts</span>
                        <img class="which-img" src="/static/img/purple_shorts_1000.png" />
                        <div style="clear:both;"></div>
                    </a>
                    <div style="clear:both;"></div>
                </div>


                <div class="why-section">
                    <a href="/why_capitalism/" class="why-link row-buttons">Still Confused Why Someone Would Want This?</a>
                    <div class="why-text">
                        <p>
                            The number on your T-Shirt or Print
                            displays how much money you spent
                            on the item &mdash; an allusion to financial status symbols
                            which already exist today, gucci prada rolex picasso warhol.
                            A secure e-commerce store doubling as conceptual art. Young Money
                            $$$$
                        </p>
                    </div>

                </div>

            </div>
        </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Courtesy Of</h3>
                    <p><a class="brocas-link" href="http://brocascoconut.com"> brocascoconut.com </a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Contact</h3>
                    <p><a class="brocas-link" href="mailto:hello@brocascoconut.com">hello@brocascoconut.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 much-stacks">
                    need 3 hands
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
{% comment %}
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
{% endcomment %}

<!-- jQuery -->
<script src="../static/startbootstrap-freelancer-1.0.0/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/startbootstrap-freelancer-1.0.0/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/startbootstrap-freelancer-1.0.0/js/jquery.easing.min.js"></script>
<script src="../static/startbootstrap-freelancer-1.0.0/js/classie.js"></script>
<script src="../static/startbootstrap-freelancer-1.0.0/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="../static/startbootstrap-freelancer-1.0.0/js/jqBootstrapValidation.js"></script>
<script src="../static/startbootstrap-freelancer-1.0.0/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../static/startbootstrap-freelancer-1.0.0/js/freelancer.js"></script>

</body>

</html>
