<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="/static/js/jquery.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/static/js/capitalist_tees.js"></script>

</head>
<body>

<h1> capitalist tees </h1>

<div class="stripeKey" data-stripeKey="pk_test_czVrLovHjcVbOwHjYaidzaQL"></div>

<a href="" class="purchaseButton">Purchase With Card</a>

{#<form action="" method="POST">#}
{#    <script#}
{#            src="https://checkout.stripe.com/checkout.js" class="stripe-button"#}
{#            data-key="pk_test_czVrLovHjcVbOwHjYaidzaQL"#}
{#            data-amount="2000"#}
{#            data-name="Demo Site"#}
{#            data-description="2 widgets ($20.00)"#}
{#            data-image="/128x128.png">#}
{#    </script>#}
{#</form>#}

</body>
</html>