<div class="left-side">

    <a href="/______/" class="title-link">Broca's Coconut</a>

    <a href="/about_brocas/" class="nav-link">about</a>
    <a href="/projects/" class="nav-link">qqq</a>
    <a href="https://brocascoconut.com/the_capitalist_tee/" class="nav-link">store</a>

{#    <img class="under-image" src="http://3.bp.blogspot.com/-VReNeHbXXNY/Ua_e32IOepI/AAAAAAAAAJw/_L3Egv8mC7g/s1600/Baphomet.PNG"/>#}
    <img class="under-image" src="/static/img/devil.png"/>
    <img class="left-under-image" src="/static/img/devil.png"/>
    <img class="right-under-image" src="/static/img/devil_mirror.png"/>

    {#    <a href="/about/" class="nav-link">about</a>#}
    {#    <a href="/writing/" class="nav-link">writing</a>#}
    {#    <a href="/art/" class="nav-link">art</a>#}

    {#    <a href="/blog/" class="nav-link">blog</a>#}
    {#    <a href="/contact/" class="nav-link">contact</a>#}

</div>