<div class="left-side">

    <a href="/______/" class="title-link">CitiGroup Press</a>

    <a href="/about_brocas/" class="nav-link">about</a>
    <a href="/projects/" class="nav-link">qqq</a>
    <a href="/capitalist_tees/" class="nav-link">store</a>

    <img class="under-image" src="http://3.bp.blogspot.com/-VReNeHbXXNY/Ua_e32IOepI/AAAAAAAAAJw/_L3Egv8mC7g/s1600/Baphomet.PNG"/>

    {#    <a href="/about/" class="nav-link">about</a>#}
    {#    <a href="/writing/" class="nav-link">writing</a>#}
    {#    <a href="/art/" class="nav-link">art</a>#}

    {#    <a href="/blog/" class="nav-link">blog</a>#}
    {#    <a href="/contact/" class="nav-link">contact</a>#}

</div>