<style>
    body {
        margin:0px;
    }

    .loading-circle {
        width:100%;
        height:100%;
    }

    .mainimg {
        width:100%;
    }

</style>

<div>

    <a href="/robertmarvin/">
        <img class="mainimg" src="/static/img/moon.jpg"/>
    </a>

</div>


{#<script src="/static/js/jquery.js"></script>#}
{##}
{#<script>#}
{#   $( document ).ready(function() {#}
{#       setTimeout(function(){#}
{#           window.location.replace("/~/");#}
{#    }, 500);#}
{#    });#}
{#</script>#}