<style>
    body {
        width:6000px;
    }

    .mainlink {
        position:absolute;
        left:30px;
        top:30px;
        background-color:#b3c7e1;
        color:gray;
        padding:3px;
    }

    .mainimg {
        width:1000px;
        float:left;
    }

    body {
        margin:0px;
    }

    .num-visitors {
        color: rgb(215, 196, 255);
        position: absolute;
        top: 20px;
        left: 915px;
    }

    .huge-text {
        float:left;
        font-size:600px;
        margin-top:0px;
        margin-left:90px;
        color:black;
        text-decoration:none;
    }

</style>

<img class="mainimg" src="/static/img/moon.jpg"/>
<a href="/LOADING/" class="huge-text">
    RobertMarvin.Com
</a>
{#<a href="/blog/" class="mainlink">robertmarvin.com</a>#}
{#<p class="num-visitors"> + {{ stat.number }} </p>#}
