<html>
<head>

    <link href="/static/brocas.css" rel="stylesheet">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/robertmarvin.js"></script>


    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="projects-page">

    {% include "leftSide.html" %}

    <div class="store-wrapper mini-store-wrapper">

        <a class="store-link" href="#">
            <div class="item-wrapper">
                <div class="item-top">
                    <div class="item-number">1.</div>
                    <div class="item-title">Broca's T-Shirt</div>
                </div>
                <div class="item-bottom">
                    <div class="item-picture">
                        <img class="segue-pic" src="http://i.imgur.com/9TO7X3S.jpg"/>
                    </div>
                </div>
            </div>
        </a>



</div>

</body>

</html>