<html>
<head>

    <link href="/static/brocas.css" rel="stylesheet">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/robertmarvin.js"></script>


    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="projects-page">

    {% include "leftSide.html" %}

    <div class="right-side store">
        <h1>Store</h1>
        <div class="which-buttons row-buttons">
            <a href="https://brocascoconut.com/the_capitalist_tshirt/" class="prod-button">
                <span class="prod-title">The Capitalist T-Shirt</span>
                <img class="prod-img" src="/static/img/black_1000.png" />
                <div style="clear:both;"></div>
            </a>
              <a href="https://brocascoconut.com/the_capitalist_tshirt/" class="prod-button">
                <span class="prod-title">The Capitalist Print</span>
                <img class="prod-img" src="/static/img/black_1000.png" />
                <div style="clear:both;"></div>
            </a>
            <a href="" class="style-button  which-button print-button">
                <span class="which-title">Framed Prints</span>
                <img class="which-img" src="/static/img/1000_print.png" />
                <div style="clear:both;"></div>
            </a>
            <a href="" class="style-button  which-button booty-button">
                <span class="which-title">Booty Shorts</span>
                <img class="which-img" src="/static/img/purple_shorts_1000.png" />
                <div style="clear:both;"></div>
            </a>
            <div style="clear:both;"></div>
        </div>
    </div>



</div>

</body>

</html>