<html>
<head>

        <link href="/static/brocas.css" rel="stylesheet">

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/robertmarvin.js"></script>


    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="submit-email-page page" data-page="/______/">

    {% include "leftSide.html" %}

    <div class="right-side">
        <div class="submit-email-wrapper">
            <img class="home-image" src="/static/img/cocospiral.jpg"/>
            <img class="home-image vertical-image" src="/static/img/cocospiral-vertical.jpg"/>
            <p class="subscribe-label"> Subscribe To Our Occasional Newsletter </p>
            <input type="text" class="subscribe-input"/>
            <a class="subscribe-button">submit</a>
        </div>
    </div>

</div>


<div class="page" data-page="/thankyou/">

    <div class="thankyou-background">
        <p class="thankyou-text"> thank you! </p>
    </div>

</div>

</body>
</html>

