<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TrueSpeak - Come Out As Yourself </title>

    <link href="/static/img/truespeak.ico?v=2" rel="shortcut icon" type="image/x-icon">

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/static/startbootstrap-freelancer-1.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/startbootstrap-freelancer-1.0.0/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/startbootstrap-freelancer-1.0.0/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57781529-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">TrueSpeak</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="/truespeak/#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/truespeak/#upload">Upload</a>
                </li>
                <li class="page-scroll">
                    <a href="/truespeak/#explore">Explore</a>
                </li>
                <li class="page-scroll">
                    <a href="/truespeak/#about">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Conversation Details Grid Section -->
<section class="conversation-detail">
    <div class="container conversation-detail-container">
        {% if secret %}
            <div class="instructions">
                <h3 class="instructions-header"> Instructions On How To Publish Your Text History </h3>
                <div class="instructions-text">
                    <p>
                        Below is your entire text history, currently this page is only viewable by people
                        who hold the secret link which you were shown at the end of your upload.
                    </p>
                    <p>
                        To share your story with the world, scroll down this page
                        and select the checkbox next to each of the conversations which you would like to
                        include in your story and then scroll back up to the top of this page and click
                        "Publish Selected Conversations To The World".
                    </p>
                    <p>
                        When you click "Publish Selected Conversations To The World" all of the conversations which you selected will be posted
                        to a publicly viewable page. All of the conversations which you have not selected will
                        not be included in the public post but will still be viewable on this secret page.
                    </p>
                </div>
                <div class="really-publish">
                    <p>
                        Click "Confirm Publish Selected Conversations To The World" to confirm that you would like to publish <span class="how-many">0</span>
                        conversations from your text message history.
                    </p>
                    <p>
                        If you would like to obfuscate your name, enter your original full name and
                        all occurrences of your first or last name in your texts will be replaced with
                        the alias your story is being published under.
                    </p>
                    <div class="username-obfuscation-wrapper input-group">
                        <div class="username-input-wrapper">
                            <span class="username-input-text">Original Name</span>
                            <input type="text" class="orig-username form-control username-input" placeholder="Your Full Name"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="publish-container">
                <div class="how-many-wrapper"><span class="how-many">0</span> Conversations Selected</div>
                <button class="publish publish-btn initial-publish-btn btn btn-default" type="button">Publish Selected Conversations To The World</button>
                <button class="publish publish-btn confirm-publish-btn btn btn-default" type="button">Confirm Publish Selected Conversations To The World</button>
            </div>
            <div class="instructions-line-spacer"></div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>The Story Of {{ name }}</h2>
            </div>
        </div>
        <div class="table-of-contents">
            <hr class="star-primary">
            <h4 class="table-of-contents-header">Table Of Contents</h4>
            <hr class="star-primary">
            {% for person in people %}
                <a href="#{{ person }}" class="chapter-link">{{ person }}</a>
            {% endfor %}
            <hr class="star-primary">
        </div>
        <div class="row container">
            {% for convo_with, conversation in conversations %}
                <div class="conversation-wrapper" id="{{ convo_with }}">
                    {% if not forloop.first %}
                        <div class="spacer"></div>
                    {% endif %}
                    {% if secret %}
                        <div class="line-spacer"></div>
                        <p>
                            <span class="include-text">Include In Publication</span><input type="checkbox" name="include" class="include-checkbox" value="{{ convo_with }}"/>
                        </p>
                        <div class="obfuscation-wrapper input-group" data-name="{{ convo_with }}">
                            <div class="input-label">Change all appearances of "{{ convo_with }}" to</div>
                            <div class="input-wrapper">
                                <input class="obfuscation-input form-control" type="text" data-name="{{ convo_with }}" value="{{ convo_with }}"/>
                            </div>
                        </div>
                    {% endif %}
                    <h3 class="conversation-header"> Conversation With {{ convo_with }} </h3>
                    {% for text in conversation %}
                        <div class="text-wrapper">
                            <span class="sent-by">{{ text.from_name }}</span>
                            <span class="message">{{ text.text_message }}</span>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Courtesy Of</h3>
                    <p><a href="http://brocascoconut.com"> brocascoconut.com </a></p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Contact</h3>
                    <p>Send an email to truespeak@brocascoconut.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Truth Is Beauty
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- jQuery -->
<script src="/static/startbootstrap-freelancer-1.0.0/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/startbootstrap-freelancer-1.0.0/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/startbootstrap-freelancer-1.0.0/js/classie.js"></script>
<script src="/static/startbootstrap-freelancer-1.0.0/js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="/static/startbootstrap-freelancer-1.0.0/js/jqBootstrapValidation.js"></script>
<script src="/static/startbootstrap-freelancer-1.0.0/js/contact_me.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/startbootstrap-freelancer-1.0.0/js/freelancer.js"></script>

</body>

</html>
