#target {
    width: 345px;
}

.maps-wrapper {
    width:100%;
    height:100%;
    display:block;
}

#title-page-wrapper-id {
    width:100%;
    z-index: 10;
    background-color: white;
    height: 100%;
    opacity: 1;
    position:absolute;
    pointer-events: none;
}

.title-page {
    height: 100%;
    width: 600px;
    padding-left: 230px;
    padding-top: 55px;
    text-align: left;
    font-color:#434343;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    background-color: #FFF;
    pointer-events: none;

}

.abridged-maps-text {

}

.abridged-maps-title {
    font-size: 70px;
    margin-bottom: 20px;
}

.abridged-explanation {
    margin-top: 5px;
    text-align: left;
    font-size: 30px;
}

        .link-to-explanation {
            position: absolute;
            font-family: 'Roboto Slab', serif;
            margin-top: 0.4%;
            right: -0.7%;
            float: right;
            z-index: 8;
            font-size: 104px;
            font-weight: 400;
            opacity:0.5;
            width: 200px;
            height: 200px;
            text-align: center;
        }
        .link-to-explanation:hover {
            cursor:pointer;
            opacity: 0.9;
        }
        .explanation-wrapper {
            opacity:0;
            background-color:#FFF;
            color:#434343;
            display:none;
            width:100%;
            height:100%;
            position:absolute;
            z-index:10;

        }

.explanation {
            padding-left: 9%;
            padding-right: 9%;
    padding-top: 40px;
    text-align: left;
    font-color:#434343;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    background-color: #FFF;
            z-index:10;

        }



        .explanation-text {
    margin-top: 5px;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
}

.by-links {
    text-align: left;
    

}

a {
    color:black;
    text-decoration:none;
}
a:hover {
    text-decoration:line-through;
    color:#333;
}

h1 {
    text-align: left;
    font-size: 72px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;

}

h3 {
    text-align: left;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;

}

@media (max-width: 600px) {

h1 {
font-size: 50px;
}

.link-to-explanation {

    bottom: -83px;
    left: -19.7%;
    float: left;
    z-index: 8;
    font-size: 81px;
    font-weight: 400;
    opacity: 0.5;
}

.title-page {

height: auto;
width: auto;
padding-left: 9%;
padding-right: 9%;
}

.abridged-maps-title {
font-size: 50px;
}

.abridged-explanation {
font-size: 26.5px;

}

}
