body {
    margin:0;
}
.submit-email-page {
    margin: 5px;
}

.left-side {
    float:left;
    width:200px;
    height:100%;
    border-right:1px solid gray;
    padding-right:15px;
    padding-top:50px;
}
.right-side {
    float: left;
    padding-left: 100px;
    padding-bottom: 40px;
}

.nav-link {
    width:100%;
    display:block;
    text-align:center;
    margin-bottom:25px;
    color:black;
}

.title-link {
    width:100%;
    text-align:center;
    color:black;
    font-size:24px;
    margin-bottom:25px;
    display:block;
}

.home-image {
    width:500px;
    margin-top:50px;
    margin-bottom:35px
}
.home-image.vertical-image {
    display:none;
}

.subscribe-input {
    padding: 10px;
    width:100%;
    font-family: "HelveticaNeue-Light";
    font-size:18px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.subscribe-input:focus,
.subscribe-input.focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px purple;
}

.subscribe-label {
    margin-bottom:20px;
}

.subscribe-input {
    height: 45px;
    padding-left:15px;
    margin-bottom:15px;
}

.page {
    display:none;
}

.subscribe-button {
    border:1px solid gray;
    border-radius:4px;
    font-size:18px;
    padding:10px;
    width:95%;
    text-align:center;
    margin-top:40px;
    display:none;
}
.subscribe-button:hover {
    cursor:pointer;
    border:2px solid black;
    padding:9px;
    font-style:italic;
}

/* mobile */
@media (max-width: 750px) {
    .left-side {
        width:100%;
        border-bottom:1px solid gray;
        height:auto;
        padding-bottom:25px;
        padding-top:10px;
    }
    .right-side {
        width:100%;
        padding-left:5px;
    }
    .home-image.vertical-image {
        display:block;
        width:95%;
    }
    .home-image {
        display:none;
    }
    input[type="text"].subscribe-input {
        width:95%;
    }
    .subscribe-input {
        margin-bottom:15px;
    }
    .subscribe-button {
        margin-top:15px;
        width:90%;
    }
}


/* thank you page */
.thankyou-background {
    background-image: url("/static/img/fractal.jpg");
    width:100%;
    height:100%;
    background-size:1000px;
}
.thankyou-text {
    text-align:center;
    font-size:100px;
    padding-top:20%;
    color: rgb(0, 255, 100);
}

.about-container {
    float:left;
    width:80%;
}