
/* capitalist prints */
.shirt-img-wrapper {
}
.shirt-contingent {
}
.print-contingent {
    display:none;
}
.booty-contingent {
    display:none;
}
.which-button {
    display:none;
}



.print-wrapper {
    margin-top:30px;
    position:relative;
    width: 355px;
    margin: auto;
}


.print-img-number.questionMark {
    top: 81px;
    left: -24px;
    font-size: 94px;
}

.print-img-number {

    /* in triangle */
    position: absolute;
    font-family: "Helvetica";
    /*font-family:"garamond";*/
    color: black;
    text-align: center;
    width: 400px;

    /*top: 57px;*/
    /*left: -25px;*/
    /*font-size: 108px;*/

    top:70px;
    left:-20px;
    font-size: 108px;

    /*top:63px;*/
    /*left:-20px;*/

    top:56px;
    left:-23px;
}
.print-img-number.singleDigit {
    top:72px;
    left:-20px;
}

/*.print-img-number.doubleDigit {*/

/*top: 96px;*/
/*left: -23px;*/
/*font-size: 89px;*/
/*}*/
/*.print-img-number.tripleDigit {*/
/*top: 120px;*/
/*left: -23px;*/
/*font-size: 65px;*/
/*}*/
/*.print-img-number.megaDigit {*/
/*top: 60px;*/
/*left: -21px;*/
/*font-size: 94px;*/
/*letter-spacing:4px;*/
/*}*/

/* booty coming soon */
.booty-coming-soon {
    display:none;
}

/* related products */
section.related-section {
    padding-bottom:0px;
    padding-top:0px;
}
div.related-products-wrapper {
    margin-top:0px;
    margin-bottom:30px;
    padding-top:35px;
    padding-bottom:45px;
}
.which-img {
    width:100px;
    margin-top:10px;
}
.which-button {
    background-color:white;
    height:160px;
}
.which-buttons {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
}
.related-title {
    margin-bottom:30px;
    color:black;
}
.featured-pane {
    /*height:1050px;*/
}

/* old */
.body-wrapper {
    display:block;
    margin-left:0px;
}

.loading-div {
    padding-top:25px;
}

.purchase-div {
    max-width:600px;
    margin:auto;
    margin-top:18px;
}

.capitalist-tee {
    width:100%;
    text-align:center;
    margin-bottom:10px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.triangle-img {
    width:90%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.select-number {
    /*background-image:url("/static/img/black_triangle.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size:70%;*/
    /*width:96%;*/
    /*height:365px;*/
    /*margin:auto;*/
    /*margin-top:10px;*/
    /* wrapper */
    width:100%;
    display:block;
    position:relative;
    margin-top:25px;
}

.buttons-wrapper {
    width:400px;
    margin:auto;
    /*padding-bottom:5px;*/
}

.row-buttons {
    margin:auto;
}

.black-triangle-img {
    width:55%;
    margin:auto;
    /*display:none;*/
}

.number-input {
    width: 97px;
    height: 94px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 56%;
    left: 228px;
}

.color-buttons {
    width:370px;
    height:30px;
    margin-top:30px;
}


.size-buttons {
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    height:30px;
    width:240px;
}
.bootysize-buttons {
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    height:30px;
    width:240px;
}
.printsize-buttons {
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    height:30px;
    width:240px;
}

.color-button {
    width: 185px;
    float: left;
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
}

.printsize-button {
    width: 80px;
    float: left;
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
}

.size-button {
    width: 80px;
    float: left;
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
}
.bootysize-button {
    width: 80px;
    float: left;
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
}
.which-button {
    width: 140px;
    float: left;
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
}

.purchaseButton {
    width: 71%;
    margin: auto;
    display: block;
    padding: 5px;
    border: 1px solid gray;
    text-align: center;
    /*margin-bottom:25px;*/
    margin-bottom:10px;
}

.shipping-input {
    width:90%;
    margin:auto;
    height: 28px;
    padding: 1px 9px 2px 9px;
    font-size: 15px;
    text-align:center;
}
.ship-to {
    position:relative;
}


.display-price {
    font-size:14px;
    margin:auto;
    height:40px;
    margin-top:12px;
    width:210px;
}
.display-price span {
    font-size:18px;
}

a.style-button.selected {
    background-color:black;
    color:white;
}

.description {
    text-align:center;
    width:100%;
}

.main-div {
    display:none;
}

.thankyou-div {
    width:100%;
    text-align:center;
    padding-bottom:18px;
}
p.thankyou-text {
    padding-top: 30px;
    padding-bottom: 34px;
    max-width: 500px;
    margin: auto;
}

a {
    text-decoration:none;
    color:black;
}
a:hover {
    background-color:black;
    color:white;
}

.money-img {
    width:90%;
}
.shirtimg {
    width:405px;
    /*height:249px;*/
    display:none;
    margin:auto;
}
.shirtback {
    height:420px;
}
.black-male-shirt-img.shirtimg {
}

.capitalist-tee {
}

.description {
}

.shirt-img-wrapper {
    position:relative;
}
.shirt-back-wrapper {
    display:none;
    height:441px;
}
.booty-img-wrapper {
    position:relative;
}

.shirt-img-number {
    position: absolute;
    font-family: "Helvetica";
    left: 227px;
    color: white;
    text-align: center;
    width: 200px;
    top:116px;
    font-size:21px;
}
.shirt-img-number.doubleDigit {
    /*top:120px;*/
    /*font-size:18px;*/
    /*left:226px;*/
    top: 120px;
    left: 227px;
    font-size: 18px;
}
.shirt-img-number.tripleDigit {
    top: 125px;
    left: 226px;
    font-size: 15px;
}
.shirt-img-number.megaDigit {
    top: 112px;
    left: 225px;
    font-size: 22px;
}

.booty-img-number {
    position: absolute;
    left: 184px;
    top: 93px;
    font-size: 60px;
    font-family: "Helvetica";
    color: white;
    text-align: center;
    width: 300px;
}

.see-the-back {
    width:100%;
    text-align:center;
    cursor:pointer;
}

.shirtimg {
    display:none;
}
.shirtimg.selected {
    display:block;
}


.navbar-default.navbar-fixed-top {
    background-color:white;
    /*background-color:black;*/
}

a.navbar-brand.triangle-brand {
    font-size:80px;
    font-weight:bold;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {

}

.navbar-default .navbar-brand.central-brand {
    width:100%;
    text-align:center;
    color:black;
    /*color:white;*/
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size:39px;
}

.container.header-container {
    margin-top:0px;
    padding-top:10px;
    padding-bottom:40px;
}

.description-pane {
    margin-top:40px;
}

footer .footer-above {
    background-color:white;
    color:white;
}
footer .footer-below {
    background-color:white;
    color:black;
}

a.brocas-link {
    color:black;
    color:white;
}
a.brocas-link:hover {
    color:white;
}

.btn-social {
    /*color:black;*/
    color:white;
}

.much-stacks {
    font-style:italic;
}

.central-pane {
    max-width:600px;
    margin:auto;
    background-color:white;
    padding-top:15px;
    padding-bottom:25px;
    padding-left:25px;
    padding-right:25px;
}

div.container {
    background-image:url("/static/img/flower_tv.jpg");
    padding-left:0px;
    padding-right:0px;
    margin:auto;
}


a {
    text-decoration: none;
    color: black;
}


/* mobile */
@media (max-width: 750px) {
    .select-number {
        width:200px;
        margin:auto;
        margin-top:20px;
    }
    .black-triangle-img {
        width:200px;
    }
    .number-input {
        width: 64px;
        height: 64px;
        font-size: 24px;
        text-align: center;
        position: absolute;
        top: 97px;
        left: 70px;
    }
    p.description {
        width: 73%;
        margin: auto;
    }
    .container.header-container {
        padding-top:0px;
    }
    .capitalist-tee {
        width: 90%;
        margin: auto;
        margin-top:15px;
        margin-bottom:20px;
    }
    .buttons-wrapper {
        width:100%;
    }
    .row-buttons {
        /*width:100%;*/
    }
    .color-buttons {
        max-width:370px;
        width:100%;
    }
    .color-button {
        max-width:50%;
    }
    .size-buttons {
        max-width:240px;
    }
    .printsize-buttons {
        max-width:240px;
    }
    .display-price {
        max-width:196px;
    }
    .purchaseButton {
        max-width:90%;
    }
    .row {
        margin-right:0px;
    }
    .col-lg-12 {
        padding-right:0px;
    }
    .booty-img-number {
        left: 85px;
    }
    .why-text p {
        width: 73%;
        margin: auto;
    }

    .shirt-img-wrapper {
        width:100%;
        position:relative;
    }
    .shirt-img-number {
        /*left:227px;*/
    }
}

/* make the shirt smaller */
@media (max-width: 600px) {
    .shirt-img-wrapper {
        width:350px;
        margin:auto;
        position:relative;
    }
    .shirtimg {
        width:275px;
    }
    .shirtback {
        height:285px;
    }
    .shirt-back-wrapper {
        height:306px;
    }
    .shirt-img-number {
        left: 110px;
        top: 78px;
        font-size: 16px;
    }
    .shirt-img-number.doubleDigit {
        left: 110px;
        top: 80px;
        font-size: 14px;
    }
    .shirt-img-number.tripleDigit {
        left: 110px;
        top: 84px;
        font-size: 10px;
    }
    .shirt-img-number.megaDigit {
        left: 109px;
        top: 77px;
        font-size: 16px;
    }
}

@media (max-width: 415px) {
    .frame-img {
        width:200px;
    }
    .print-wrapper {
        width:200px;
    }
    .image-section {
        width:100%;
    }
    .print-img-number {
        position: absolute;
        top: 40px;
        font-family: "Helvetica";
        left: 1px;
        color: black;
        font-size: 63px;
        text-align: center;
        width: 200px;
    }
    .print-img-number.singleDigit {
        top: 45px;
        left: 1px;
        font-size: 63px;
    }
    .print-img-number.questionMark {
        top: 46px;
        left: 0px;
        font-size: 63px;
    }

    /*.print-img-number.doubleDigit {*/
    /*top: 64px;*/
    /*left: -1px;*/
    /*font-size: 46px;*/
    /*}*/
    /*.print-img-number.questionMark {*/
    /*top: 49px;*/
    /*left: -2px;*/
    /*font-size: 59px;*/
    /*}*/
    /*.print-img-number.tripleDigit {*/
    /*top: 117px;*/
    /*left: -24px;*/
    /*font-size: 61px;*/
    /*}*/
    /*.print-img-number.megaDigit {*/
    /*top: 43px;*/
    /*left: -1px;*/
    /*font-size: 46px;*/
    /*}*/
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color:gray;
}

.btn-primary {
    background-color:black;
}

/* why button */
.why-link {
    color:darkblue;
}
.why-link.clicked{
    color:black;
}
.why-section {
    margin-top:35px;
}
.why-text p {
    text-align:left;
}
.why-text {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    display:none;
}